/* Copyright of GENIAL INGELE. This calculator is merely an estimation of what your bond would cost and the other costs associated with it.
    Hence, GENIAL INGELE is not liable for any inaccuracies found in this code. We are trying to guide you in making a decision in the best way we can, 
    but the accurate information will be given to you by your bank. 
    
    NOTE: Data found on this code is based on South African laws and fees.
    
    DATE: 24 SEPTEMBER 2023
    
    GENIAL INGELE 
    */


    /*TODO 
    * Automatically separate large numbers with comma or point when typed in
    * Loop through 2 arrays to compare and assign values based on a set of conditions. E.g. loan amount vs deeds office fees matching. 
    */


/* --- CONTAINERS --- */ 
/* Using the "*" symbol, we are referring to all elements */
*{
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  font-size: 12pt;
}

/*  We are removing the arrows from input field */
/* Hide the arrows from the input field */
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
-webkit-appearance: none;
margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
text-align: left;
}

input{
  height: fit-content;
}

body{
  background-color: #f7f7f7;
  margin: 0;
}

.main_nav{
  background-color: #004e97;
  color: #ffffff;
  margin: 0px;
  padding: 1px;
}

.parent_container{
  width: 100%;
  background-color: #f7f7f7 ;
}


.input_mainbox{
  background-color: #FFFFFF;
  padding: 20px;
  display: flex; 
  justify-content: space-around;
}


.two_column_text{
  display: flex;
  justify-content: space-between;
  background-color: #f3f3f3;
  padding: 10px;
  border-radius: 5px;
}

.three_column_text{

}

.three_columns{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  margin-top:10px;

}

.three_columns :nth-child(2){
  flex-grow:2;
  padding-left:5px;
  padding-right:5px;
}

.info_column{
  
}
/* SECTION CONTAINERS (Personal, Professfional, Education) */

.input_container{
  width:100%;
  margin-right: 20px;
}

.preview{
  padding: 20px;
  box-shadow: #c2c2c2 0px 0px 10px 2px;
  border: #dadada  2px solid;
  border-radius: 5px;
  background-color: #ffffff;
}

/*PROGRESS CONTAINER */

.progressContainer{
  background-color: #838383;
  display: flex;
  position: sticky;
  color:#ffffff;
}

.progress{
  margin: 0px;
  flex:1;
  color:rgb(255, 255, 255);
  font-weight: bold;
  text-align: center;
  top:0;
}

.progress:hover{
  background-color: #0073df;
  color: #FFFFFF;
}

.progress:active{
  background-color: #06bdeb;
}

/* RESULTS OR CV OUTCOME*/

.resultsContainer{
    background-color: #000a64b3;
 
}

/* --- BASICS --- */

h1{ 
  font-size: 32pt;
  text-align: center;

}

h2{
  line-height: 18pt;
  font-size: 18pt;
  
}

h3, h4{
  line-height: 18pt;
  font-size: 14pt;
}

p{
  font-size: 12pt;
}

select{
  padding: 10px;
  width: 150px;
  font-size: large;
  background-color: #f3f3f3;
  color: #004e97;
  border-radius: 5px;
  border: #004e97  1px solid;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

input{
  font-size: 14pt;
  margin-top: 10px;
  margin-bottom: 20px;
  padding: 10px;
  max-width: 200px;
  border: #0284ff  1px solid;
  border-radius: 5px;
}

button{
  background-color: #004e97;
  color:#ffffff;
  border: #0284ff  1px solid;
  padding: 10px;
  border-radius: 5px;
}

button:hover{
  background-color: #5d98cc;
}

::placeholder{
  color: #000000;
}

legend{
  font-size: 12pt;
  font-weight:bold;
}

textarea{
  font-size: 14pt;
  padding: 10px;
  margin-bottom: 20px;
  max-width: 600px;
  min-width: 250px;
  min-height: 100px;
  max-height: 200px;
  border-radius: 5px;
  border: #0284ff  1px solid;
}


/* --- BUTTONS --- */
.submitBtn{

}

.resetBtn{

}

.previousBtn{

}

.nextBtn{

}

/*Now, each button will have a unique ID 
because we each of them send you  to  specific section.
They hide the current section and show the next one.*/

/*FOR PERSONAL DETAILS */
#nextBtnPersonal{

}


/*FOR PROFESSIONAL EXPERIENCE DETAILS */
#nextBtnPro{

}

#nextBtnPro{

}

